Add-KdsRootKey -EffectiveTime (Get-Date).AddHours(-10)
New-ADServiceAccount {{ adfs_service_account_name }} -DNSHostName adfs.{{ sso_dns_domain }} -ServicePrincipalNames http/adfs.{{ sso_dns_domain }}

